/*font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;*/

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 15px;
}

body {
    font-size: 1em;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}